:root {
    --primary-color: #0b8185;
    --secondary-color: #000000;
    --tertiary-color: #606bfa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--tertiary-color);
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/golf-img.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color)
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headshot {
    background-image: url("../images/golf-img.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
}

.headshot-img {
    height: auto;
    max-width: 35%;
    margin-left: 50px;
    margin-right: 10%;
    border-radius: 50%;
}

.work-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 50px;
}




/*Contact Me Start*/

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    
}


/*Contact Me End*/


