:root {
    --primary-color: #34d6db;
    --secondary-color: #000000;
    --tertiary-color: #098b30;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    max-width: 100vw;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--tertiary-color);
    
    
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/golf-img.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color)
  }

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headshot {
    background-image: url("../images/golf-img.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;        
}

.headshot-img {
    display: flex;
    justify-content: flex-start;
    max-width: auto;
    max-height: auto;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);   
}


.work-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 50px;
}

.work-history iframe {
    display: flex;
    
}

.resume h3 {
    display:flex;
    justify-content: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
      header h1 {
        width: 100%;
        text-align: center;
    }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
      header nav ul li a {
        font-size: 20px;
    }
    
      footer h2, footer div {
        text-align: center;
        width: 100%;
    }

   
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }    
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
     
      .contact-info {
        text-align: center;
    }
    
      .contact-info > * {
        flex: 0 100%;
    }

    