:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--tertiary-color)
}

header {
    padding: 20px 35px;
    background-color:var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/msubanner.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}